backend/shell.nix
backend/.venv
backend/tmp/input.pdf
backend/tmp/slides/*
backend/tmp/
backend/reports/
backend/result/
backend/tmp/*
backend/.env.backend.dev
frontnd/.env.frontend.dev
.venv/
.vscode/
frontend/.env.frontend
backend/.env.backend
backend/src/__pycache__/
tmp/*
reports/*
frontend/.env
__pycache__
backend/src/__pycache__/*
frontend/src/__pycache__
.kiro
.env
*.pyc
**/__pycache__/
node_modules/
